repository/src/main/mule/repository.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="55680036-cfab-42e7-ada4-c670c648e390" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="repositoryFlow" doc:id="3f8532c1-9b36-4fd9-befb-feed70496fd0" >
		<http:listener doc:name="Listener" doc:id="c703264e-acbf-465f-8b61-519825b80ca1" config-ref="HTTP_Listener_config" path="/flights"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="35306157-72cb-482b-bb9c-86af2c3553e5" />
	</flow>
</mule>
